<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Jovian Carrers</title>
</head>

<body>
    <div class="container">
        <h1>Jovian Carrers</h1>
        <img class="banner" src="../static/banner.jpg" alt="banner of Jovian Carrers">
        <h2>About jovian</h2>
        <p class="bodytext">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente voluptatibus enim fugit dolore aut nihil
            sunt,
            nulla impedit minus mollitia architecto quo quisquam sint odio explicabo dignissimos necessitatibus nesciunt
            tenetur!</p>
        <h2>Open positions</h2>
        <p class="bodytext">TODO - Show the jobs here</p>
        <div class="button_contact">
            <button>Contact Us</button>
        </div>
        
    </div>

</body>

</html>