<div class="border-bottom pb-4">
    <div class="row">
        <div class = col-11>
            <h4 class="mt-3">{{job['title']}}</h4>
            <div><b>Lovation: </b>{{job['Location']}}</div>
            {% if 'salary' in job %}
            <div><b>Salary: </b> {{job['salary']}}</div>
            {% endif %}
        </div>
        <div class="col-1">
            <a href="mailto:galexandre891@gmail.com?subject=Application for {{jobs[title]}}" type="button" class="btn btn-outline-primary mt-3">Apply</a>
        </div>
    </div>

   
</div>